<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Airline Check-in</title>
  <link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body>
<main class="flex flex--row">
  <%= yield %>
</body>
<footer>
  <h4>Technical Support</h4>
  <ul>
    <li><a href="mailto: help@aircheckin.com">Email Help</a></li>
    <li><a href="https://twitter.com/aircheckin">Help on Twitter</li>
    <li><a href="tel: +4478888888">Call Help</li>
  </ul>
</footer>
</html>