<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Airline Check-in</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <style>
    body {
      background: black url('/engine_spin.gif');
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 8px;
      text_align: left;
      border_bottom: 1pz solid #ddd;
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    tr:hover{background-color:#f5f5f5}
    div {
        background-color: silver;
        width: 500px;
        margin: 5px;
        border-color: silver;
        border-style: solid;
        border-width: 10px;
        border-radius: 5px;
    }
    /* unvisited link */
    a:link {
        color: red;
    }

    /* visited link */
    a:visited {
        color: black;
    }

    /* mouse over link */
    a:hover {
        color: maroon;
        text-decoration:underline;
    }

    /* selected link */
    a:active {
        color: blue;
    }
    
  </style> 
</head>

<body>
<main class="flex flex--row">

  <%= yield %>

</body>

</html>