<h1>Airline Check-in - Ticket Management</h1>
<a href='/passengers/tickets/add'>Add Ticket</a>
<a href='/passengers'>Home</a>
<h2>Tickets Active in System</h2>

<section class="tickets">

  <table>
    <tr>
      <th>Flight #</th>
      <th>Ticket Class</th>
    </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td>Flight # : <%= ticket.destination%></td>
      <td>Flight date : <%= ticket.flight_date%></td>
      <td>
        <ul>
          <li>Ticket Class: <%= ticket.class%></li>
          <li>Cost: £(feature to be added)</li>
        <% end %>
        </ul>
      </td>
    </tr>  
  </table>
</section>
