.body {
  background: black url('/engine_spin.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  color: papayawhip;
  font-family: 'Roboto', sans-serif;
  font-color: 'white';
  padding: 0px;
  margin: 0px;
}

.cell {
  flex: 1;
  padding: 10px;
  border: solid 1px mediumaquamarine;
}
