.body {
  background: black url('/engine_spin.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  color: papayawhip;
  font-family: 'Roboto', sans-serif;
  font-color: 'white';
  padding: 0px;
  margin: 500px;
  border-color: silver;
  border-style: solid;
  border-width: 10px;
  border-radius: 5px;
}

.label {
background: silver;
color: black;
padding: 20px;
width: 500px;
margin: 5px;

}
